*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #0d0d0d;
  background-image: url(bg.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #ffffff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
  background: rgb(26, 26, 26, 0.80);
  padding-top: 10px;
  min-height: 70px;
  box-shadow: 0 5px 8px 0 rgb(72, 33, 145);
  position: sticky;
  top: 0;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px;
}

header #branding {
  float: left;
  padding-top: 10px;
  padding-bottom: 15px;
}

header nav {
  float: right;
  margin-top: 23px;
  margin-bottom: 20px;
}

header h1 {
  float: left;
  margin-top: 25px;
  margin-left: 15px;
  font-family: Comic, cursive, sans-serif;
  font-weight: bolder;
  color: rgb(72, 33, 145);
}

.button {
  background-color: rgb(72, 33, 145);
  border: none;
  padding: 15px 20px;
  transition-duration: 0.7s;
}

.button:hover {
  background-color: rgb(93, 42, 187);
  box-shadow: 0 0px 10px 4px rgb(93, 42, 187);
}
