/*GLOBAL MARGIN*/
*{
  margin: 0;
  padding: 0;
}


/*BODY*/
body{
  background-color: #0d0d0d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #ffffff;
}

.headcontainer {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.bodycontainer {
    width: 100%;
    padding-top: 4%;
    margin: auto;
    overflow: hidden;
}


/*HEADER*/
header {
  background: rgb(20, 20, 20, 0.95);
  padding-top: 10px;
  min-height: 70px;
  box-shadow: 0 5px 8px 0 rgb(72, 33, 145);
  position: sticky;
  top: 0;
}

header #branding {
  float: left;
  padding-top: 10px;
  padding-bottom: 15px;
}

header h1 {
  float: left;
  margin-top: 25px;
  margin-left: 15px;
  font-family: Comic, cursive, sans-serif;
  font-weight: bolder;
  color: rgb(72, 33, 145);
}

header nav {
  float: right;
  margin-top: 23px;
  margin-bottom: 23px;
}

header li {
  float: left;
  display: inline;
  padding: 0 12px;
}


/*BUTTON*/
.button {
  background-color: rgb(72, 33, 145);
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  float: right;
  display: flow-root;
}
.button:hover {
  background-color: rgb(93, 42, 187);
  box-shadow: 0 0px 10px 4px rgb(93, 42, 187);
  transition-duration: 0.3s;
  font-weight: bold;
}


/*SECTION*/
/*SECTION BACKGROUNDS*/
.index {
  background: url(bg.png);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.host {
  background: url(host.png);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.join {
  background: url(join.png);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.live {
  background: url(live.png);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

section h1, p{
  letter-spacing: 5px;
  word-spacing: 2px;
  padding-bottom: 15px;
}

hr {
  border: 2px solid rgb(72, 33, 145);
  border-radius: 10px;
}

.boxleft {
  overflow: hidden;
  background: rgb(20, 20, 20, 0.80);
  border-radius: 5px;
  box-shadow: 0 0px 12px 5px rgb(72, 33, 145);
  width: 60%;
  margin-top: ;
  margin-right: 2%;
  margin-bottom: 4%;
  margin-left: 4%;
  padding: 30px 30px;
  float: left;
}
.boxleft:hover {
  background: rgb(20, 20, 20, 0.95);
}

.boxright {
  background: rgb(20, 20, 20, 0.80);
  border-radius: 5px;
  box-shadow: 0 0px 12px 5px rgb(72, 33, 145);
  width: 20%;
  margin-top: ;
  margin-right: 4%;
  margin-bottom: 4%;
  margin-left: 2%;
  padding: 30px 30px;
  float: right;
}
.boxright:hover {
  background: rgb(20, 20, 20, 0.95);
}

.teamrow {
  display: flex;
  align-items: center;
}

.teams {
  background: rgb(62, 28, 125, 0.20);
  border: 2px solid rgb(72, 33, 145);
  border-radius: 10px;
  padding: 20px 20px;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.vs {
  padding-top: 23px;
}


/* FORM */
.input {
  box-sizing: border-box;
  width: 100%;
  padding: 7px;
  margin-top: 10px;
  margin-right: ;
  margin-bottom: 10px;
  margin-left: ;
  border: 3px solid rgb(72, 33, 145);
  background-color: rgb(20, 20, 20, 0.4);
  color: #ffffff;
  border-radius: 5px;
}



/*FOOTER*/
footer {
  background: rgb(20, 20, 20, 0.80);
  border-top: rgb(72, 33, 145) 3px solid;
  padding: 25px 0 15px 0;
  text-align: center;
}
